        tr{
            width: 100%;
        }
        th,td{
            border:1px solid black;
        }
        table{
            border-collapse:collapse;
            width: 100%;
            text-align: center;
            box-sizing: border-box;
            
        }

        @media screen and (max-width: 800px){
            th{
                display: none;
            }

            tbody td:nth-child(2)::before{
                content: "Marimi";
            }
            tbody td:nth-child(3)::before{
                content: "Culori";
            }
            tbody td:nth-child(4)::before{
                content: "Pret";
            }

            td{
            border-left: none;
            border-right: none;
            float:left;
            width:100%;
            }
            td::before{
            float:left;
            width:25%;
            background:lightgrey;
            font-weight:bold;
            line-height:100%;
            height: 100%;
        }

        }
  