/*----------GENERAL----------*/
html{
	font-size: 10px;
}
	
h1{
padding-top: 185px;
bottom: 30px;
}
/*----------MENIU----------*/	
ul.meniu>li{
width: 100%;
}
ul.meniu>li:hover ul.submeniu{
top:7.2rem;
}

/*----------POSTARE----------*/	
.postare{
margin: 0;
width: 100%;
box-shadow: none;
border-bottom: 1px #c5c6c8 solid;
box-shadow:inset #c5c6c8 0px 0px 8px;
}

/*----------GRID----------*/
div#grid{
grid-template-columns: auto;
}
#grid>section:last-child{
grid-area: auto;
}

/*----------GALERIE----------*/
.galerie{
display: none;
}
.galerie + aside{
display: inline;
}

#coloane{
	flex-direction: column;
	justify-content: space-around;
}

#coloane>p:nth-child(1){
	order: 3;
}

#coloane>p:nth-child(2){
	order: 1;
}
#coloane>p:nth-child(3){
	order: 2;
}
.c_butoane button{
	
	font-size: 1.3rem;	
	
}
.c_butoane{
	display: grid;
	padding: 20px;
	grid-template-columns: auto auto;
	grid-row-gap: 1em;
	grid-column-gap: 1em;
	
}
#container_butoane{
	width: 100%;
}
.c_butoane>*{
	display: block;
	text-align: center;
}
#container_butoane button:nth-child(8){
	grid-area: 5/1/6/3;
	
}
#container_butoane button:nth-child(9){
	grid-area: 6/1/7/3;
	
}
#container_butoane button:nth-child(10){
	grid-area: 7/1/8/3;
	
}
#container_butoane button:nth-child(11){
	grid-area: 8/1/9/3;
	
}
#container_butoane input[name="gr_chck"]{
	transform: scale(3) translate(2px,2px);
	visibility: hidden;
}
#container_butoane input[name="gr_chck"]::before{
	transform: scale(0.7) translate(0px,-3px);
	
}
#container_butoane input[name="gr_chck"]:checked::before{
	transform: scale(0.7) translate(0px,-3px);
}

div[id="noutati"]{
	font-size: 1.1rem;
}