/*----------GENERAL----------*/
html{
	font-size: 10px;
}
	
h1{
padding-top: 185px;
bottom: 30px;
}
/*----------MENIU----------*/	
ul.meniu>li{
width: 100%;
}
ul.meniu>li:hover ul.submeniu{
top:7.2rem;
}

/*----------POSTARE----------*/	
.postare{
margin: 0;
width: 100%;
box-shadow: none;
border-bottom: 1px #c5c6c8 solid;
box-shadow:inset #c5c6c8 0px 0px 8px;
}

/*----------GRID----------*/
div#grid{
grid-template-columns: auto;
}
#grid>section:last-child{
grid-area: auto;
}

/*----------GALERIE----------*/
.galerie{
display: none;
}
.galerie + aside{
display: inline;
}

#coloane{
	flex-direction: column;
	justify-content: space-around;
}

#coloane>p{
	padding: 1rem;
}

#coloane>p:nth-child(1){
	order: 3;
}

#coloane>p:nth-child(2){
	order: 1;
}
#coloane>p:nth-child(3){
	order: 2;
}

