/*----------RESETARE SPATIERE----------*/
*{
	padding: 0;
	margin: 0;
	text-indent: 0;
}

/*----------GENERAL----------*/
html{
	font-size: 16px;
	font-family: 'Teko', sans-serif;
}

nav{
	width:100%;
	position:fixed;
	z-index: 100;
}

h1{
	padding-top: 100px;
	font-size: 9vw;
	font-weight: bold;
}

header{
	text-align: center;
}

footer{
	margin-top: 20px;
	padding: 20px;
	background-color: black;
	text-align: center;
	font-size: 1.6rem;
	
}

footer p a{
	text-decoration: none;
	color: white;
}

body{
	background-image: url("../imagini/Sports.png");

}
/*LOGIN*/
header aside a{
	color: black;
	text-decoration: none;
}

header aside a:hover{
	color: #46a29f;
}

header>form{
	font-size: 1.4rem;
	
}
header>form input{
	font-family: 'Teko', sans-serif;
	box-sizing: border-box;
	border: 1px solid black;
	font-size: 1.4rem;
}

header>form input[type=submit]{
	background-color: black;
	color: #c5c6c8;
	transition: background-color 0.2s linear, color 0.2s linear;
}

header>form input[type=submit]:hover{
	background-color: #46a29f;
	color: white;
}
/*----------PAGINA 404----------*/
.panou404 {
	margin-top: 20px;
	font-size: 1.4rem;
	margin-left: 20%;
	margin-right: 20%;
	position: relative;
	width: 60%;
	box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.75);
	background-color: white;
	box-sizing: border-box;
}
.panou404 *{
	display: block;
	padding: 0.8rem;
	text-align: center;
}

.panou404>figure>img{
	width: 50%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.panou404>p{
	font-size: 3rem;
}
.panou404 a{
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	text-decoration: none;
	background-color: black;
	color: #c5c6c8;
	transition: background-color 0.2s linear, color 0.2s linear;
	font-size: 1.6rem;
}

.panou404 a:hover{
	background-color: #46a29f;
	color: white;
}
/*STILIZARE MENIU SORTARE FILTRARE CALCULARE*/
.c_butoane button{
	font-family: 'Teko', sans-serif;
	font-size: 1.8rem;	
	background-color: black;
	color: #c5c6c8;
	border: 1px solid black;
	transition: background-color 0.2s linear, color 0.2s linear;
}

.c_butoane button:hover{
	background-color: #46a29f;
	color: white;
	border: 1px solid black;
}

.c_butoane{
	display: grid;
	padding: 20px;
	grid-template-columns: auto auto;
	grid-row-gap: 1em;
	grid-column-gap: 1em;
}
#container_butoane input[name="gr_chck"]{
	transform: scale(3) translate(2px,2px);
	visibility: hidden;
}
#container_butoane input[name="gr_chck"]::before{
	background-image: url("../imagini/crescator.png");
    background-size: 10px 10px;
    display: inline-block;
    width: 10px; 
    height: 10px;
    content:"";
	transform: scale(1.3) translate(0px,-1px);
	visibility: visible;
}
#container_butoane input[name="gr_chck"]:checked::before{
	background-image: url("../imagini/descrescator.png");
    background-size: 10px 10px;
    display: inline-block;
    width: 10px; 
    height: 10px;
    content:"";
	transform: scale(1.3) translate(0px,-1px);
}
#container_butoane div:nth-child(7){
	display: grid;
	grid-template-columns: auto auto auto;
	font-size: 1.4rem;
	grid-area: 4/1/5/3;
	width: 100%;
}
#container_butoane div:nth-child(7)>*{
	display: inline-block;
	width: auto%;
	text-align: center;
	font-size: 1.8rem;
	
}
#container_butoane div:nth-child(7) input[type="checkbox"]{
	transform: scale(1.7) translate(2px,-2px);
}
#buton_complex{
	display:grid;
	padding: 20px;
	grid-template-columns: auto auto auto;
	grid-row-gap: 1em;
	grid-column-gap: 1em;
}
#buton_complex button{
	font-family: 'Teko', sans-serif;
	font-size: 1.8rem;	
	background-color: black;
	color: #c5c6c8;
	border: 1px solid black;
	transition: background-color 0.2s linear, color 0.2s linear;
}
#buton_complex button:hover{
	background-color: #46a29f;
	color: white;
	border: 1px solid black;
}
/*INACTIV*/
header div{
	font-size: 1.4rem;
}
.display_none{
    display: none;
}

/*DISPLAY*/
.vizibil{
	display: visible;
}
.oferta{
	color: red;
}
.invizibil{
	visibility: hidden;
}
/*SELECTAT*/
.selectat{
	background-color: #46a29f;
	color: white;
}
.selectat1{
	background-color: #e36052;
	color: white;
}
.selectat figcaption{
	font-size: 3.8rem;
}
/*TEMPLATE*/
.afis{
	width: 100%;
}
.template_adidas{
	display: block;
	text-align: center;
	width: 100%;
}

.template_adidas>figure{
	width: 100%;
	font-size: 2rem;
	
}
.template_adidas>figure>img{
	border: 1px solid black;
	box-sizing: border-box;
	width: 60%;
}
.template_adidas p{
	border-top: 2px solid black;
	box-sizing: border-box;
}
p::before{
	float:left;
	width:25%;
	background:lightgrey;
	font-weight:bold;
	line-height:100%;
	height: 100%;
}

.template_adidas p:nth-child(2)::before{
	content: "Marimi"
}

.template_adidas p:nth-child(3)::before{
	content: "Culori"
}

.template_adidas p:nth-child(4)::before{
	content: "Pret"
}

.template_adidas p:nth-child(5)::before{
	content: "Gen"
}

.template_adidas p:nth-child(6)::before{
	content: "Livrare gratuita"
}

.template_adidas p:nth-child(7)::before{
	content: "Data lansare"
}

.template_adidas p:last-child{
	border-bottom: 1px solid black;
	box-sizing: border-box;
}
/*----------MENIU REGISTER----------*/

.panou-inregistrare input{
	width: 100%;
	font-size: 1.4rem;
	box-sizing: border-box;
	background-color: #c5c6c8;
	border: 1px solid black;
	font-family: 'Teko', sans-serif;
}

.panou-inregistrare input[type=submit]{
	font-size: 1.8rem;
	background-color: black;
	color:#c5c6c8;
	transition: background-color 0.5s linear, color 0.5s linear;
}

.panou-inregistrare input[type=submit]:hover{
	background-color: #46a29f;
	color: white;
}

.panou-inregistrare p{
	font-size: 1.8rem;
	padding-top: 0.5rem;
}

.panou-inregistrare form{
	padding: 5rem;
}

.panou-inregistrare form *{
	display: block;
}

.panou-inregistrare input[type=radio]{
	display: inline-block;
	width: 10%;
}

/*----------MENIU DERULANT----------*/
ul.meniu>li, ul.meniu>li>ul.submeniu>li{
	box-sizing: border-box;
	border: 1px #c5c6c8 solid;
	display: block;
	font-size: 1.6rem;
	height: 3.6rem;
	line-height: 3.6rem;
	text-align: center;		
	list-style-type: none;
	overflow: hidden;
}

ul.meniu>li{
	float:left;
	width:20%;
	color: #c5c6c8;
}

ul.submenu>li{
	width:100%;
}

ul.meniu>li>a, ul.submeniu>li>a{
	display: block;
	height:	100%;
	text-decoration: none;
	color: #c5c6c8;
	background-color: black;
	transition: background-color 0.5s linear, color 0.5s linear;	
}
ul.meniu>li>ul.submeniu{
	position:relative;
	top:0px;
}

ul.meniu>li>a:hover, ul.submeniu>li>a:hover{
	background-color: #46a29f;
	color: white;
}

ul.meniu>li:hover{
	overflow:visible;
}
/*----------TABEL PRODUSE----------*/
tr{
	width: 100%;
}
        
th,td{
	border: 1px solid black;
}
        
table{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}
/*----------PANOU INREGISTRARE---------*/
.panou-inregistrare{
	margin-top: 20px;
	font-size: 1.4rem;
	margin-left: 25%;
	margin-right: 25%;
	position: relative;
	width: 50%;
	box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.75);
	background-color: white;
	box-sizing: border-box;
}
/*----------POSTARE----------*/
.postare{
	margin-top: 20px;
	font-size: 1.4rem;
	margin-left: 10%;
	margin-right: 10%;
	position: relative;
	width: 80%;
	box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.75);
	background-color: white;
	box-sizing: border-box;
}

.postare>h2{
	text-decoration: underline;
	font-size: 7vw;
	font-weight: normal;
	color: black;
	text-align: center;
}
.postare>p{
	padding: 1rem;
	margin: 5px;
}

section.postare:nth-child(3){
	display: flex;
	flex-direction: column;
	align-items: center;
}
.postare img{
	width: 100%;
}
.postare ul{
	padding: 2rem;
}

/*----------GALERIE STATICA----------*/
div#grid{
	display: grid;
	grid-template-columns: auto auto auto;
	grid-row-gap: 1em;
	grid-column-gap: 1em;
}

#grid>section>h2{
	font-size: 4vw;
}

#grid figure{
	text-align: center;
	font-size: 1.0rem;
}

#grid img{
  width: 100%;
}

#grid figure:nth-child(5){
	grid-area: 3/3/4/4;
}

#grid figure:nth-child(6){
	grid-area: 3/2/4/3;
}

#grid figure:nth-child(7){
	grid-area: 3/1/4/2;
}

#grid figure:nth-child(8){
	grid-area: 2/3/3/4;
}

#grid figure:hover {
  	color: white;
  	background-color: #46a29f;
}

#grid figure{
	background-color: black;
	color: grey;
  	transition: all 1s linear;
}

/*----------GALERIE DINAMICA----------*/
.galerie{
	width:600px;
	height:400px;
	position:relative;
	overflow:hidden;
	box-shadow: 0px 4px 13px 3px rgba(0,0,0,0.75); 
}
.galerie>figcaption{
	position: absolute;
	bottom: 0;
	background-color: #46a29f;
	color: white;
	width:100%;
	text-align:center;
}

.galerie>img{
	width: 100%;
}

.galerie>figure{
	position:relative;
	width: 600px;
	height: 400px;
}

#galerie_exemplu figure{	
	position: absolute;
	left: 0;
	top: 0;
	animation-name: gal_dinamica;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-duration: 20s;	
	transform: scale(1,1);
	transform-origin: top left;
}
#galerie_exemplu figure:nth-of-type(6){
	animation-delay:0s;
}
#galerie_exemplu figure:nth-of-type(5){
	animation-delay:4s;
}
#galerie_exemplu figure:nth-of-type(4){
	animation-delay:8s;
}
#galerie_exemplu figure:nth-of-type(3){
	animation-delay:12s;
}
#galerie_exemplu figure:nth-of-type(2){
	animation-delay:16s;
}
#galerie_exemplu figure:nth-of-type(1){
	animation-delay:20s;
}
.galerie + aside{
	display: none;
}

@keyframes gal_dinamica{ 
	0% {z-index: 10; opacity: 1;}
	5% {opacity:1; transform: scale(1,1)}
	12.5%{opacity: 1; transform: scale(0.5,0.5)}
	20%{z-index: 10; opacity: 0; transform: scale(0,0);}
	20.01%{z-index:-1;}
	80%{opacity: 1; z-index: -1; transform: scale(1,1);}	
	85%{z-index: 0;}
	100%{opacity: 1; z-index: 0;}
}

/*---------BLOG---------*/
#blog>h2{
	font-size: 7vw;
	font-weight: normal;
	color: black;
	text-align: center;
	background-color: white;
}

article>img{
	filter: brightness(0.5);
}

article>h3{
	position: absolute;
	top: 2rem;
	bottom: 0.625rem;
	left: 0.625rem;
	padding-left: 0.625rem;
	padding-bottom: 0.625rem;
	color: white;
	font-size: 1.8rem;
}

article>video{
	display: block;
	box-sizing: border-box;
	width:90%;
	height: auto;
	margin: 0 auto;
	border: 6px grey inset;
}

article>p{
	padding: 1rem;
}

td s{
	color: grey;
}

/*---------COUNTER---------*/
/*
section.postare{
  counter-reset: sectiune;
}

ol{
	list-style: none;
	counter-reset: lista;
}

.postare>section>h3::before{
  counter-increment: sectiune;
  content: counter(sectiune) ". ";
}

.postare>section>ol>li::before{
	counter-increment: lista;
	content: counter(sectiune) "." counter(lista) " ";
}
*/
/*----------SUBSECTIUNI----------*/
.postare>section>h3{
	font-size: 4rem;
}
.postare>section{
	padding: 2rem;
}

/*----------MENIU SOCIAL MEDIA----------*/
.social-menu{
	display: flex;
	flex-direction: row;
	justify-content: center;
	}
	
.social-menu ul li{
	list-style: none;
	float: left;
	margin: 0.20rem;
}

.social-menu ul li a{
	display: block;
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	border: 1px solid black;
	background-color: white;
	text-align: center;
	line-height: 3rem;
	font-size: 1.5rem;
	transition: transform 0.3s linear;
}

.social-menu ul li a:hover{
	transform: translate(0,-0.625rem) scale(1.1,1.1);
}

.social-menu ul li:nth-child(1) a:hover{
	background-image: linear-gradient(to bottom left, #634ecb, #f44e55, #ffc351);
}
		
.social-menu ul li:nth-child(2) a:hover{
	background-image: linear-gradient(to bottom, #698ed7, #4267b2);
}

.social-menu ul li:nth-child(3) a:hover{
	background-image: radial-gradient(circle, #ff0000, #d80000,#e36666, #ff0000);
}

.social-menu ul li:nth-child(4) a:hover{
	background-image: linear-gradient(to top, #3f1f71, #d76d77, #fba97b);
}

.social-menu ul li:nth-child(5) a:hover{
	background-image:repeating-radial-gradient(#57f968, #45ea81, #29d2ab, white);
}

.social-menu img{
	margin-top: 0.5rem;
	width: 2rem;
	height: 2rem;
}

.social-menu ul li a:hover img{
	filter: invert(100);
}

#coloane{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: nowrap;
	align-items: flex-start;
}
#coloane>p{
	box-sizing: border-box;
	flex-basis: 33%;
	padding: 1rem;
}





