/*----------GENERAL----------*/
html{
	font-size: 12px;
}

h1{
	padding-top: 150px;
}
/*INREGISTRARE*/
.panou-inregistrare form{
	padding: 1rem;
}
/*login*/
header>form{
	width: 40%;
	margin-left: 30%;
	margin-right: 30%;
}
header>form *{
	display: block;
	width: 100%;
	
	
}
/*404*/
.panou404>p{
	font-size: 1.6rem;
}
.panou404 a{
	font-size: 1rem;
}
/*----------MENIU----------*/
ul.meniu>li{
	width: 50%;
}

ul.meniu>li:last-child{
	width: 100%;
}

ul.meniu>li:hover ul.submeniu{
	width: 100%;
	position: absolute;
	top:3.6rem;
	left: 0px;
}

/*----------POSTARE----------*/
.postare{
	margin-left: 5%;
	margin-right: 5%;
	width: 90%;
}

div#grid{
	grid-template-columns: 1fr 1fr;
}

#grid>section:last-child{
	grid-area: 2/1/3/3;
}

#grid figure:nth-child(5){
	grid-area: auto;
}

#grid figure:nth-child(6){
	grid-area: auto;
}

#grid figure:nth-child(7){
	grid-area: auto;
}

#grid figure:nth-child(8){
	grid-area: auto;
}

.galerie{
	width: 300px;
	height: 200px;
}

.galerie figure{
	width: 300px;
	height: 200px;
}
/*TEMPLATE*/
.template_adidas figure>img{
	border: none;
	box-sizing: border-box;
	width: 100%;
}

.template_adidas p:last-child{
	border-bottom: 2px solid black;
}
/*----------TABEL----------*/	
th{
	display: none;
}

tbody td:nth-child(2)::before{
	content: "Marimi";
}

tbody td:nth-child(3)::before{
	content: "Culori";
}

tbody td:nth-child(4)::before{
    content: "Pret";
}

td{
	border-left: none;
	border-right: none;
	float:left;
	width:100%;
}

td::before{
	float:left;
	width:25%;
	background:lightgrey;
	font-weight:bold;
	line-height:100%;
	height: 100%;
}
#coloane{
	flex-wrap: wrap;
}

#coloane>p{
	flex-basis: 50%
}

#coloane>p:nth-child(2){
	flex-grow: 2;
	order: 3;
}

/*STILIZARE MENIU SORTARE FILTRARE CALCULARE*/
.c_butoane button{
	
	font-size: 1.4rem;	
	
}

#container_butoane input[name="gr_chck"]{
	transform: scale(3) translate(2px,2px);
	visibility: hidden;
}
#container_butoane input[name="gr_chck"]::before{
	transform: scale(0.9) translate(0px,-2px);
	
}
#container_butoane input[name="gr_chck"]:checked::before{
	transform: scale(0.9) translate(0px,-2px);
}
#container_butoane div:nth-child(7) input[type="checkbox"]{
	transform: scale(1.1) translate(2px,1px);
}
div[id="noutati"]{
	font-size: 1.3rem;
}
