<footer>
			<div class="social-menu">
			<ul>
				<li><a href="https://www.instagram.com/sneakersnstuff/?hl=ro"><img src="/imagini/social_media_logo/insta_logo.png" alt="Imagine lipsa" title="Logo Instagram"></a></li>
				<li><a href="https://www.facebook.com/"><img src="/imagini/social_media_logo/facebook_logo.png" alt="Imagine lipsa" title="Logo Facebook"></a></li>
				<li><a href="https://www.youtube.com/user/sneakernews"><img src="/imagini/social_media_logo/youtube_logo.png" alt="Imagine lipsa" title="Logo YouTube"></a></li>
				<li><a href="mailto:online_sneaker_market@gmail.com"><img src="/imagini/social_media_logo/email_logo.png" alt="Imagine lipsa" title="Simbol Email"></a></li>
				<li><a href="tel:555-555-5555"><img src="/imagini/social_media_logo/phone_logo.png" alt="Imagine lipsa" title="Simbol Telefon"></a></li>
			</ul>
			</div>
			<p><a href="#"><small>&uArr; Copyright &copy; 2020 Online Sneaker Market. All rights reserved. &uArr;</small></a></p>
			<p><a href="/bibliografie"><small>BIBLIOGRAFIE</small></a></p>
		
		</footer>