	<header>
			<nav>
				<ul class="meniu">
					<li><a href="/">HOME</a>
						<ul class="submeniu">
							<li><a href="index#scurt_istoric">SCURT ISTORIC</a></li>
							<li><a href="index#galerie_statica">NOI APARITII</a></li>
							<li><a href="index#reduceri">REDUCERI</a></li>
						</ul>
					</li>
					<li><a href="/produse">PRODUSE</a>
						<!-- <ul class="submeniu"> -->
						<!--	<li><a href="produse#ad_femei">ADIDASI FEMEI</a></li> -->
						<!--	<li><a href="produse#ad_barbati">ADIDASI BARBATI</a></li> -->
						<!--</ul> PUS IN COMENTARIU DEOARECE AM RESTRUCTURAT PAGINA DE PRODUSE ULTERIOR-->
					</li>
					<li><a href="/blog">BLOG</a></li>
					<li><a href="/informatii">INFORMATII</a></li>
					<li><a href="/cos">COS</a></li>
				</ul>
			</nav>
			<h1>ONLINE SNEAKER MARKET</h1>
			<% if (!locals.username) { %>
			<form method="post" action="/login">
				<label>
				Username: <input type="text" name="username">
				</label>
				<label>
				Parola: <input type="password" name="parola" value="">
				</label>
				<input type="submit" value="LOGARE">
				<aside><a href="/inregistrare">Nu ai cont? Click pentru inregistrare</a></aside>
			</form>
			<% } else { %>
			Bun venit: <%= locals.username %>
			<a href="/logout">Logout</a>
			<% } %>
			<div class="display_none" id="id_inactivitate"><p>Ai fost inactiv timp de 0 secunde</p></div>
			<div class="postare" id="varsta">
			<label>DATA NASTERII:
			<input type="text" placeholder="zi#luna#an" id="data_n">
			</label>
			<button class="buton_stil" id="calcul_varsta">CALCULEAZA VARSTA</button>
			<p id="vv" class="display_none">Varsta dvs. este: </p>
			</div>
		</header>