<!DOCTYPE html>
<html lang="ro">
	<head>
		<title>ONLINE SNEAKER MARKET</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Pagina principala a magazinului ONLINE SNEAKER MARKET">
		<meta name="keywords" content="Adidasi, Magazin, Home, Scurt, Istoric, Reduceri, Aparitii, Produse, Galerie.">
		<meta name="author" content="Daineanu Denis-Alexandru">
		<link rel="shortcut icon" type="image/png" href="/imagini/favicon.png">
		<link rel="stylesheet" type="text/css" href="/css/stil.css"/>
		<link rel="stylesheet" type="text/css" href="/css/stil_800.css" media="screen and (max-width:800px)"/>
		<link rel="stylesheet" type="text/css" href="/css/stil_400.css" media="screen and (max-width:400px)"/>
		<script src="/js/script.js"></script>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&family=Teko:wght@300;400;500;600;700&display=swap" rel="stylesheet">

	</head>
	<%-  include('../fragmente/header')  %>
	<body>
		
		
		<main>
			<section class="panou404">
				<figure>
					<img src="/imagini/404.png" alt="404sad">
				</figure>
				<p>Ne pare rau, aceasta pagina nu exista.</p>
				<p><a href="/">INAPOI LA HOMEPAGE</a></p>
			</section>
			

		</main>
		
		
		<%-  include('../fragmente/footer')  %>
	</body>

</html>