<!DOCTYPE html>
<html lang="ro">
	<head>
		<title>INFORMATII MAGAZIN</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Informatii cu privire resursele utilizate in realizarea siteului.">
		<meta name="keywords" content="Adidasi, Magazin, Resurse, Imagini, Video, Fundal">
		<meta name="author" content="Daineanu Denis-Alexandru">
		<link rel="shortcut icon" type="image/png" href="/imagini/favicon.png">
		<link rel="stylesheet" type="text/css" href="/css/stil.css"/>
		<link rel="stylesheet" type="text/css" href="/css/stil_800.css" media="screen and (max-width:800px)"/>
		<link rel="stylesheet" type="text/css" href="/css/stil_400.css" media="screen and (max-width:400px)"/>
		<script src="/js/script.js">
		</script>
		<script src="/js/scriptInactivitate.js"></script>
		<script src="/js/varstaUtilizator.js"></script>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&family=Teko:wght@300;400;500;600;700&display=swap" rel="stylesheet">

	</head>
	
	<body>
		<%-  include('../fragmente/header')  %>
	
		<main>
			<section class="postare">
				<h2>Resurse Utilizate</h2>
				<section>
					<h3>Imagini</h3>
					<ol>
						<li><a href="https://sneakerindustry.ro/ro/">Poze produse</a></li>
						<li><a href="https://pixabay.com/ro/photos/pantofi-mers-melodii-de-cale-ferata-1245920/">Header articol &quot;Un scurt istoric al magazinului&quot;</a></li>
						<li><a href="https://thesolesupplier.co.uk/news/the-full-off-white-x-nike-the-ten-collection-ranked-from-worst-to-best/">Header articol &quot;Va mai amintiti aceasta colectie ?&quot;</a></li>
						<li><a href="https://303magazine.com/tag/days-before-the-rodeo/">Header articol &quot;Travis Scott colaboreaza cu Nike&quot;</a></li>
						<li><a href="https://news.nike.com/news/nike-golf-air-jordan-1/">Header articol &quot;O noua pereche de Jordan 1 ?&quot;</a></li>
						<li><a href="https://www.toptal.com/designers/subtlepatterns/">Poza de background a site-ului</a></li>
						<li><a href="https://www.pngwave.com/">Logo Instagram</a></li>
						<li><a href="https://www.facebook.com/images/fb_icon_325x325.png">Logo Facebook</a></li>
						<li><a href="http://www.clipart.com/en/">Logo YouTube</a></li>
						<li><a href="https://www.flaticon.com/free-icon/email_725643?term=email&page=1&position=7">Logo Email</a></li>
						<li><a href="https://www.flaticon.com/free-icon/smartphone_254638?term=smartphone&page=1&position=1">Logo Telefon</a></li>
					</ol>
				</section>
				<section>
					<h3>Video</h3>
					<ol>
						<li><a href="https://www.youtube.com/watch?v=AbI2yrNdB78">Video articol &quot;Va mai amintiti aceasta colectie ?&quot;</a></li>
					</ol>
				</section>
				<section>
					<h3>Fonturi</h3>
					<ol>
						<li><a href="https://fonts.google.com/specimen/Teko">Fontul Teko</a></li>
						<li><a href="https://fonts.google.com/specimen/Roboto">Fontul Roboto</a></li>
					</ol>
				</section>

			</section>
			<div class="postare">
				<button id="asc_imag" class="buton_stil">ASCUNDE IMAGINI</button>
			</div>
			<div class="postare" id="ravas">
				<p>Mesajul zilei: </p>
				<p></p>
			</div>
		</main>
		
		<%-  include('../fragmente/footer')  %>

	</body>

</html>