<!DOCTYPE html>
<html lang="ro">
	<head>
		<title>INFORMATII MAGAZIN</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Cos de cumparaturi in care putem adauga produse">
		<meta name="keywords" content="Adidasi, Magazin, Cos, Cumparaturi, Utilizator, Logare">
		<meta name="author" content="Daineanu Denis-Alexandru">
		<link rel="shortcut icon" type="image/png" href="/imagini/favicon.png">
		<link rel="stylesheet" type="text/css" href="/css/stil.css"/>
		<link rel="stylesheet" type="text/css" href="/css/stil_800.css" media="screen and (max-width:800px)"/>
		<link rel="stylesheet" type="text/css" href="/css/stil_400.css" media="screen and (max-width:400px)"/>
		<script src="/js/script.js">
		</script>
		<script src="/js/scriptInactivitate.js"></script>
		<script src="/js/varstaUtilizator.js"></script>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&family=Teko:wght@300;400;500;600;700&display=swap" rel="stylesheet">

	</head>
	
	<body>
		<%-  include('../fragmente/header')  %>
		
		</header>
		
		<main>
			<section class="postare">
				<h2>ANUNT</h2>
				<p>Ne pare rau, aceasta pagina este inca in lucru. Va rugam sa reveniti mai tarziu.</p>
			</section>

			<section id="galerie_statica" class="postare">
				<h2>RECOMANDARILE NOASTRE</h2>
				<div id="grid">
				<figure>
					<img src="/imagini/1-mid-se.jpg" alt="Imagine lipsa" title="Jordan 1 Mid">
					<figcaption>Jordan 1 Mid SE</figcaption>
				</figure>
				<figure>
					<img src="/imagini/old-skool-comfycush-sport.jpg" alt="Imagine lipsa" title="Jordan 1 Mid">
					<figcaption>Vans Old Skool Comfycush Sport</figcaption>
				</figure>
				<figure>
					<img src="/imagini/p-6000.jpg" alt="p-6000">
					<figcaption>Nike P-6000</figcaption>
				</figure>
				<figure>
					<img src="/imagini/pro-leather-mid.jpg" alt="Imagine lipsa" title="Jordan 1 Mid">
					<figcaption>Converse Pro Leather Mid</figcaption>
				</figure>
				<figure>
					<img src="/imagini/disruptor-low.jpg" alt="Imagine lipsa" title="Jordan 1 Mid">
					<figcaption>Fila Disruptor Low</figcaption>
				</figure>
				<figure>
					<img src="/imagini/chuck-taylor-all-star-classic.jpg" alt="Imagine lipsa" title="Jordan 1 Mid">
					<figcaption>Converse Chuck Taylor All Star Classic</figcaption>
				</figure>
				<figure>
					<img src="/imagini/blazer-mid-77-vintage.jpg" alt="Imagine lipsa" title="Jordan 1 Mid">
					<figcaption>Nike Blazer Mid 77 Vintage</figcaption>
				</figure>
				<figure>
					<img src="/imagini/superstar-laceless.jpg" alt="Imagine lipsa" title="Jordan 1 Mid">
					<figcaption>Adidas Superstar Laceless</figcaption>
				</figure>
				</div>
			</section>
			<div class="postare">
				<button id="asc_imag" class="buton_stil">ASCUNDE IMAGINI</button>
			</div>		
		</main>
		
		<%-  include('../fragmente/footer')  %>

	</body>

</html>