<!DOCTYPE html>
<html lang="ro">
	<head>
		<title>ONLINE SNEAKER MARKET</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Pagina principala a magazinului ONLINE SNEAKER MARKET">
		<meta name="keywords" content="Adidasi, Magazin, Home, Scurt, Istoric, Reduceri, Aparitii, Produse, Galerie.">
		<meta name="author" content="Daineanu Denis-Alexandru">
		<link rel="shortcut icon" type="image/png" href="/imagini/favicon.png">
		<link rel="stylesheet" type="text/css" href="/css/stil.css"/>
		<link rel="stylesheet" type="text/css" href="/css/stil_800.css" media="screen and (max-width:800px)"/>
		<link rel="stylesheet" type="text/css" href="/css/stil_400.css" media="screen and (max-width:400px)"/>
		<script src="/js/script.js"></script>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&family=Teko:wght@300;400;500;600;700&display=swap" rel="stylesheet">

	</head>
	
	<body>
		<%-  include('../fragmente/header')  %>
		
		<main>
			<section class="postare" id="scurt_istoric">
				<img src="/imagini/istoric.jpg" alt="Imagine lipsa" title="O pereche de vans">
				<h2>UN SCURT ISTORIC AL MAGAZINULUI</h2>
				<p>Compania SNEAKER MARKET a fost infiintata pe data de <time datetime="2010-07-10">10 iulie 2010</time> de catre americanul John Doe.</p>
				<p>Desi a inceput cu un singur magazin, deschis in orasul sau natal, John s-a bucurat rapid de un succes rasunator. Prin urmare, la finalul anului <time datetime="2012">2012</time> existau deja peste 30 de magazine SNEAKER MARKET pe teritoriul Statelor Unite si inca 10 in Canada.</p>
				<p>Anul <time datetime="2014">2014</time> marcheaza inaugurarea primului magazin din Europa, in capitala Germaniei, Berlin.Au urmat alte tari, precum Franta, Olanda, Italia, Grecia si Romania. In prezent ne putem lauda cu magazine in circa 25 de orase europene.</p>
				<p>Iar acum, la 10 ani de la deschiderea primului magazin, suntem mandri sa anuntam noul nostru brand: ONLINE SNEAKER MARKET.</p>
			</section>

			<section id="galerie_statica" class="postare">
				<h2>NOI APARITII</h2>
				<div id="grid">
				<figure>
					<img src="/imagini/1-mid-se.jpg" alt="Imagine lipsa" title="Jordan 1 Mid">
					<figcaption>Jordan 1 Mid SE</figcaption>
				</figure>
				<figure>
					<img src="/imagini/old-skool-comfycush-sport.jpg" alt="Imagine lipsa" title="Jordan 1 Mid">
					<figcaption>Vans Old Skool Comfycush Sport</figcaption>
				</figure>
				<figure>
					<img src="/imagini/p-6000.jpg" alt="p-6000">
					<figcaption>Nike P-6000</figcaption>
				</figure>
				<figure>
					<img src="/imagini/pro-leather-mid.jpg" alt="Imagine lipsa" title="Jordan 1 Mid">
					<figcaption>Converse Pro Leather Mid</figcaption>
				</figure>
				<figure>
					<img src="/imagini/disruptor-low.jpg" alt="Imagine lipsa" title="Jordan 1 Mid">
					<figcaption>Fila Disruptor Low</figcaption>
				</figure>
				<figure>
					<img src="/imagini/chuck-taylor-all-star-classic.jpg" alt="Imagine lipsa" title="Jordan 1 Mid">
					<figcaption>Converse Chuck Taylor All Star Classic</figcaption>
				</figure>
				<figure>
					<img src="/imagini/blazer-mid-77-vintage.jpg" alt="Imagine lipsa" title="Jordan 1 Mid">
					<figcaption>Nike Blazer Mid 77 Vintage</figcaption>
				</figure>
				<figure>
					<img src="/imagini/blazer-mid-77-vintage.jpg" alt="Imagine lipsa" title="Jordan 1 Mid">
					<figcaption>Nike Blazer Mid 77 Vintage</figcaption>
				</figure>
				</div>
			</section>

			<section class="postare" id="reduceri">
				<h2>!REDUCERI!</h2>
				<div id="galerie_exemplu" class="galerie">
				<figure>
					<img src="/imagini/997-hoc.jpg" alt="997-hoc"/>
					<figcaption>New Balance 997 Hoc</figcaption>
				</figure>
				<figure>
					<img src="/imagini/sid-dx.jpg" alt="sid-dx">
					<figcaption>Vans Sid Deluxe</figcaption>
				</figure>
				<figure>
					<img src="/imagini/3-retro-se.jpg" alt="3-retro-se">
					<figcaption>Air Jordan 3 Retro</figcaption>
				</figure>
				<figure>
					<img src="/imagini/maxin-200-gs.jpg" alt="maxin-200-gs">
					<figcaption>Air Jordan Maxin 200</figcaption>
				</figure>
				<figure>
					<img src="/imagini/max-200-gs.jpg" alt="max-200-gs">
					<figcaption>Jordan Max 200</figcaption>
				</figure>	
				</div>
				<aside>Consultati sectiunea produse pentru a vedea reducerile</aside>
			</section>

		</main>
		
		
		<%-  include('../fragmente/footer')  %>
	</body>

</html>