<!DOCTYPE html>
<html lang="ro">
	<head>
		<title>SECTIUNE MAGAZIN</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Sectiunea de magazin, de unde puteti achizitiona diverse perechi de adidasi.">
		<meta name="keywords" content="Adidasi, Magazin, Produse, Pret, Marime, Achizitionare">
		<meta name="author" content="Daineanu Denis-Alexandru">
		<link rel="shortcut icon" type="image/png" href="/imagini/favicon.png">
		<link rel="stylesheet" type="text/css" href="/css/stil.css"/>
		<link rel="stylesheet" type="text/css" href="/css/stil_800.css" media="screen and (max-width:800px)"/>
		<link rel="stylesheet" type="text/css" href="/css/stil_400.css" media="screen and (max-width:400px)"/>
		<script src="/js/script.js"></script>
		<script src="/js/ejs.min.js"></script>
		<script src="/js/scriptajax.js"></script>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&family=Teko:wght@300;400;500;600;700&display=swap" rel="stylesheet">

	</head>
	
	<body>
		<%-  include('../fragmente/header')  %>
		
		<main>
			<div class="postare" id="noutati">
			<p>AICI APAR ULTIMELE NOUTATI</p>
			<p class="invizibil">WOW! SUPER OFERTA!</p>
			</div>
			<div id="container_butoane" class="c_butoane postare">
				
				<button id="sort_nume">SORTEAZA DUPA NUME</button>
				<label>
				<input id="i_check1" name="gr_chck" value="20" type="checkbox"/>
				</label>
				
				<button id="sort_pret">SORTEAZA DUPA PRET</button>
				<label>
				<input id="i_check2" name="gr_chck" value="20" type="checkbox"/>
				</label>
				
				<button id="filter_pret">PRET MAXIM</button>
				<label for="i_range1">
				<input id="i_range1" type="range" value="100" min="100" max="1000" oninput="i_range1output.value = i_range1.value">
				<output id="i_range1output">100</output>
				</label>
				
				<div class="checkbox_tip">
				<label>ADIDASI BARBATI
					<input id="i_check3" name="gr_rad" checked value="M" type="checkbox"/>
				</label>
				<label>ADIDASI FEMEI
					<input id="i_check4" name="gr_rad" checked value="F" type="checkbox"/>
				</label>
				<label>ADIDASI UNISEX
					<input id="i_check5" name="gr_rad" checked value="U" type="checkbox"/>
				</label>
				</div>
				
				<button id="filter_marime">CAUTARE DUPA MARIME</button>
				
				
				
				<button id="filter_livrare">AFISEAZA PERECHI LIVRARE GRATUITA</button>
				
				<button id="resetare">RESETARE</button>
				<button id="calcul_pret">PRET PRODUSE SELECTATE</button>
				
			</div>
			<div class="postare" id="buton_complex">
				<button id="complex1">COMPLEX 1</button>
				<button id="complex2">COMPLEX 2</button>
				<button id="complex3">COMPLEX 3</button>
				
			</div>
			<section class="postare" id="ad_femei">
				<h2>Adidasi</h2>
				<div class="afis" id="afis_produse"></div>
				<p id="pret_calculat">Pretul produselor selectate este de 0 RON</p>
			</section>
			
		</main>
		
		<%-  include('../fragmente/footer')  %>

	</body>

</html>